.HamburgermenuContainer {
    margin: 20px;
    width: 200px;
    height: 300px;
    background-color: bisque;
    border-radius: 7%;
    text-align: center;
    padding: 30px;
}

.HamburgerItem:hover {
    color: rgb(214, 129, 157);
  
}