.HamburgermenuContainer {
    margin: 20px;
    width: 200px;
    background-color: rgb(219, 206, 189);
    border-radius: 7%;
    text-align: center;
    padding: 15px;
}

.HamburgerItem:hover {
    color: rgb(214, 129, 157);
  
}