.Animation_Page{
    display: flex;
    justify-content: center;
}

.girl{
    position: fixed;
    bottom: -1%;
    left: 0%;
    max-width:100%;
    height:auto;
}

.guy{
    position: fixed;
    right: 2%;
}