.Animation_Page{ 
    display: flex; 
    justify-content: center; 
} 


.girl img{ 
    position: fixed; 
    bottom: -1%; 
    left: 0%; 
    width: 180px; 
}


.guy img{ 
    position: fixed; 
    right: 2%; 
    width: 200px; 
    bottom: -1%; 
} 