.Animation_Page{ 
    display: flex; 
    justify-content: center; 
} 


.girl img{ 
    position: fixed; 
    bottom: -1%; 
    left: 0%; 
    width: 160px; 
}


.guy img{ 
    position: fixed; 
    right: 2%; 
    width: 150px; 
    bottom: -1%; 
} 

.armguy{
    position: fixed; 
    right: 2%; 
    width: 200px; 
    bottom: 13%;
    animation: mymove 5s;
    animation-iteration-count:infinite;
}

@keyframes mymove {
  from {transform: rotate(20deg);
    bottom: 13.5%;}
  to {transform: rotate(0deg);
    right: 2%; bottom: 13%;}
} 

.armgirl{
    position: fixed; 
    bottom: 15.5%; 
    left: 33.5%; 
    width: 160px; 
}

/*
@keyframes mymove {
  from {transform: rotate(20deg);
    bottom: 13.5%;}
  to {transform: rotate(0deg);
    right: 2%; bottom: 13%;}
} */