.Animation_Page{ 
    display: flex; 
    justify-content: center; 
} 


.girl img{ 
    position: fixed; 
    bottom: -1%; 
    left: 0%; 
    width: 180px; 
}


.guy img{ 
    position: fixed; 
    right: 2%; 
    width: 150px; 
    bottom: -1%; 
} 

.armguy{
    position: fixed; 
    right: 2%; 
    width: 200px; 
    bottom: 15%;
    animation: mymove 3s;
    animation-iteration-count: 2;
    transform: rotate(20deg);
}
/*
@keyframes mymove {
  from {transform: rotate(0deg);
 right: 2%; bottom: 13%;}
  to {transform: rotate(20deg);}
} */