.Animation_Page{ 
    display: flex; 
    justify-content: center; 
} 


.girl img{ 
    position: fixed; 
    bottom: -1%; 
    left: 0%; 
    width: 180px; 
}


.guy img{ 
    position: fixed; 
    right: 2%; 
    width: 150px; 
    bottom: -1%; 
} 

.armguy{
    position: fixed; 
    right: 15%; 
    width: 150px; 
    bottom: 14%;
    animation: mymove 5s;
    animation-iteration-count:infinite;
}

@keyframes mymove {
  from {transform: rotate(20deg);
    bottom: 15%;}
  to {transform: rotate(0deg);
    right: 14%; bottom: 14%;}
} 