.survey_next {
    position: relative;
    right: -100%;
    top: 10px;


}

.survey_container3{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 4%;
}

body{
    background-color: #F3F2EE;
}