.results{
    font-size: 20px;
    margin-left: 50px;
}

.resultImg{
    display: flex;
    justify-content: center;
}

.resultImg img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.solution_box{
    display: inline-flex;
}

.solution img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 6px 10px;
}

.solution img:hover{
    opacity: 0.7;
}

.solution_text{
    width: 250px;
}