.survey_card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
}

.card_header {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 30px;
}

.card_question{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 50px;
    text-align: center;
}

.card_answers{
    display: inline-flex;
}

.options{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px gray;
    border-radius: 25px;
    margin: 10px;
    padding: 3px;
}

.options img{
    width: 75px;
    height: 75px;
    object-fit: contain;
    margin: 6px;
}

