.resultpage{
    position: relative;
    left:-100%;
    transition: left 1s;
}

.go_home {
    position: relative;
    left: 300px;
    top: 20px;
    margin-right: 350px;
    margin-top: 20px;
}

.gohome_button{
    position: absolute;
    left: 60%;
}
