.Animation_next{
    display: flex;
    justify-content: space-around;
}

.Animation_container{
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.Animation_people{
    justify-content: center;
    position: fixed;
    top: 65%;
}

body{
    background-color: #F3F2EE;
}

.Animation_text1 img{
    position: fixed;
    top: 58%;
    left: 25%;
    width: 100px;
}