.survey_next {
    position: relative;
    right: -100%;
    top: 20px;
    margin-top: 20px;
}

.survey_container2{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: relative;

}

body{
    background-color: #F3F2EE;
}